html, body{
    margin: 0;
    overflow-x: hidden ;
    font-family: ubuntu;
    scroll-behavior: smooth;
}

header{
    display: flex;
    background-color: rgb(	4, 108, 180);
    justify-content: space-between;
    align-items: center;
}

nav a {
    transition: .5s;
}

nav a:hover {
    font-size: 27px;
    text-decoration: underline;
}


header img{
    width: 100px;
    height: 80px;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left:75px ;

}

#começo{
    margin-left: 4%;
    height: 90px;

}

#icones_leitor{
    justify-content: end;
}

#linhah{
    background-color:  rgb(4, 108, 180);
    width: 1920px;
    height: 5px;
    display: flex;
}

#linhah div{
    background-color: white;
    width: 1850px;
    height: 2px;
    margin-left: 4%;
    margin-right: 5%;

}

#primeiro{
    margin-left: -13%;
    width: 130px;
    height: 90px;
}

#segundo{
    margin-left: -5%;
    width: 130px;
    height: 85px;
}




/*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*/

#font_aud_descri {
    font-family: "Ubuntu";
}                   

#block_aud_descri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #9AB1DA;
    width: 100%;
    height: 1247px;
    justify-items: center;
    align-items: center;
}

.img1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.img2 {
    grid-column: 2/2;
    grid-row: 2/2;
}

#block_aud_descri h1, p {
    text-align: center;
    color: #3D3D3D;
    font-size: 36px;
}

.text_aud_descri {
    margin-bottom: 12%;
}

.text2_aud_descri {
    margin-bottom: 12%;
}

#titulo_aud_descri h1 {
    text-align: center;
    position: relative;
    right: 30%;
    top: 34%;
    color: white;
    font-family: "Oswald";
    font-size: 73px;
}

#tit_aud_descri {
    margin-top: -3.5%;
    width: 100%;
    height: 963px;
    background-image: url("../Imagens/t1.png");
}

/*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*//*RITTER*/





/* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE */


#titulo_ia h1{
    text-align: center;
    position: relative;
    right: 30%;
    top: 34%;
    color: white;
    font-family: "Oswald";
    font-size: 73px;
    color: white;
}

#titulo_ia{
    margin-top: -4%;
    margin-bottom: -3%;
    width: 100%;
    height: 963px;
    background-image: url("../Imagens/t2.png");
}


#ia_oq_e {
    background-color: #046CB4;
}

#ia_como_influ {
    background-color: #9AB1DA;

}


#ia_h2branco {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    color: white;
    font-size: 48px;
    font-family: "Ubuntu", sans-serif;
    padding-top: 5%;

}

#block_oq_e P{
    color: white;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3%;
    font-size: 23px;
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
}


#Oquee {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_ia {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 10%;
}

#oq1 {
    max-width: 668px;
    max-height: 420px;
}

 /*****************************************************/
/*****************  Cima  ****************************/

.text_como_influ img {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 698px;
    max-height: 421px;
    display: flex;
    align-items: center;
    padding-top: 5%;

}

.text_como_influ h2 {
    display: flex;
    font-size: 36px;
    justify-content: center;
}


.text_como_influ{
    display: flex;
    align-items: center;
    margin-left: 5%;
    padding-top: 5% ;
    
}

.imagem1 {
    display: flex;
    height: 300px;
}

#sec4 P {
    color: black;
    font-size: 35px;
    font-family: "Ubuntu", sans-serif;
}

#sec4 H2 {
    color: black;
    font-size: 48px;
    font-family: "Ubuntu", sans-serif;

}



/*****************  Baixo   ****************************/

.text2_como_influ {
    display: flex;
    align-items: center;
    padding-top: 5% ;
    padding-bottom: 5%;

}

.text2_como_influ h2 {
    display: flex;
    justify-content: center;
}

.text2_como_influ img {
    display: flex;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 700px;
    max-height: 700px;
}

.text2_como_influ P {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 22%;
    margin-left: 12%;
    color: black;
}

.imagem2 {
    display: flex;
    height: 300px;
}

/* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE *//* FILIPE */

/*Luiz*//*Luiz*//*Luiz*//*Luiz*//*Luiz*//*Luiz*//*Luiz*//*Luiz*//*Luiz*//*Luiz*//*Luiz*/
.ia_ace img {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 600px;
    max-height: 400px;
    display: flex;
    align-items: center;
    padding-top: 5%;

}

.ia_ace h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}


.ia_ace{
    margin: 0;
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #9AB1DA;
}


footer{
    background-color: rgb(4, 108, 180) ;
    font-size: 25px;

}

footer section:last-child p{
    font-size: 15px;
    color: white;
}

footer section:last-child{
    display: flex;
    justify-content: space-evenly;
}

footer section:first-child{
    display: flex;
    justify-content:left;
    width: 100%;
    height: 150px;
    align-items: center;
}

#foot_sobre p{
    margin-left: 8%;
    color: white;
}

#f_ferramentas{
    background-color: rgb(255, 255, 255);
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
}

#foot_ia{
    color: white;
    padding-top: 3%;
}

#foot_ia img{
    width: 120px;
    height: 150px;
}
